* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: hsl(30, 38%, 92%);
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  background: hsl(0, 0%, 100%);
  width: 34.5rem;
  height: 61.2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem hsla(0, 0%, 0%, 0.02);
  transition: all 100ms ease;
}

.productImg {
  width: 34.5rem;
  border-radius: 1rem 1rem 0 0;
}

.content {
  position: relative;
  padding: 1.9rem 2.5rem;
  height: 37rem;
}

.type {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
}

.type,
.description,
.oldPrice {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.product {
  padding: 1.3rem 0 1.7rem;
  line-height: 3.2rem;
}

.product,
.currentPrice {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 3.2rem;
}

.description {
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.9rem 0 0;
}

.currentPrice {
  color: hsl(158, 36%, 37%);
}

.oldPrice {
  font-size: 1.4rem;
  text-decoration: line-through;
}

.addToCart {
  background: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  padding: 0.25rem;
  width: 29.5rem;
  height: 4.9rem;
  border: none;
  border-radius: 0.8rem;
  position: absolute;
  bottom: 2.7rem;
}

.addToCart:hover,
.addToCart:focus {
  background: hsl(157, 44%, 17%);
}

.addToCart span,
.cartIcon {
  font-weight: 700;
  font-size: 1.4rem;
  vertical-align: middle;
}

.cartIcon {
  padding: 0 1rem;
}

@media (min-width: 700px) {
  .card {
    display: flex;
    width: 60rem;
    height: 45rem;
  }

  .productImg {
    width: 30rem;
    border-radius: 1rem 0 0 1rem;
  }

  .content {
    justify-items: center;
    width: 30rem;
    height: 45rem;
    padding: 3.2rem 3.25rem 3.2rem;
  }

  .product {
    padding: 2.1rem 0 2.4rem;
  }

  .price {
    padding: 2.5rem 0 2.9rem;
  }

  .addToCart {
    width: 23.5rem;
    bottom: 3.1rem;
  }
}
